[2018-01-25 02:13] SailingSteve opened #5 "TODO: January 2018"
An amazing amount of the App is working today in Cordova, maybe 95% of the functionality.

Open issues:

- [ ] iOS Submission

- [x] Android

- [ ] Facebook login (tough one)

- [x] Add an intermediate splash screen between the iOS screen and our index.html splash screen to avoid the white flash.

- [ ] Login by email, sends you off to browser land, it might be doable if you view your email on you

[2018-02-11 14:44] DaleMcGrew opened #9 ""Tweet Ballot" does not include the link to the ballot you are viewing"
"Tweet Ballot", clicked from Test Flight on iPhone 7, iOS 11.2.5, does not include the link to the ballot you are viewing.
![fullsizerender](https://user-images.githubusercontent.com/7756031/36074587-e8072c9a-0ef6-11e8-9864-62ca25a7c92a.jpg)

[2018-02-12 17:05] DaleMcGrew opened #10 "Remove "Cordova" from everywhere visible"
- [x] I noticed on first load there is the text "We Vote Cordova" on a blue background. Please remove "Cordova" from anywhere that voters can see it.
- [x] On my phone, the app name that shows under our icon is "We Vote Cordova" (and "WeVoteCordova" in one place). Please make it "We Vote".

[2018-02-12 17:55] DaleMcGrew opened #11 "Update email sign in link to open Cordova (Working in iOS, not in Android)"
When you request a sign in link within Cordova:
![screen shot 2018-02-12 at 9 53 28 am](https://user-images.githubusercontent.com/7756031/36111367-b8fa67e8-0fda-11e8-9d33-b4d0b88c2eb7.png)

...clicking the link in your email program signs you into the browser version. Update the WeVoteServer api to instead send a link that opens and processes the link from Cordova instead of in a browser on your p

[2018-02-12 18:27] DaleMcGrew opened #12 "Lighten text color of the top-most phone utility bar"
The top-most bar ("Verizon") is currently white. Please make it dark blue and not transparent so we don't get visual glitches like this:
![fullsizerender-2](https://user-images.githubusercontent.com/7756031/36112672-438f7cd2-0fdf-11e8-88c6-13e6a47bb753.jpg)

[2018-02-12 18:30] SailingSteve commented on #10
@DaleMcGrew
What should the app be called? it is currently "We Vote Voter Guide" in what would show in the App Store.

Should it just be "We Vote"?

[2018-02-12 18:40] DaleMcGrew commented on #10
@SailingSteve ideally we can have it called "We Vote Voter Guide" everywhere in the app store *except* under the icon on someone's home screen, where it should just be the shortened "We Vote".

[2018-02-12 20:36] SailingSteve commented on #10
@DaleMcGrew You may have to delete the older versions on your phone to see the new one, with "We Vote" as the on screen app name, and "We Vote" on the splash screen.  This will appear when I make build "5" sometime this week.

[2018-02-13 22:20] SailingSteve commented on #10
I think this is done.

[2018-02-13 22:20] #10 closed

[2018-02-13 22:23] SailingSteve commented on #12
http://devgirl.org/2014/07/31/phonegap-developers-guid/
cordova plugin add org.apache.cordova.statusbar

There is a plugin that handles this -- it crashes during install with a ???

[2018-03-01 17:02] DaleMcGrew opened #17 "Popup "hamburger" menu is covered by grayed out background"
If you scroll down to the very bottom of your ballot and then click the hamburger menu, it is hard to see because of the grayed out background.
![img_4596](https://user-images.githubusercontent.com/7756031/36858160-43fe8110-1d2f-11e8-986a-6639a5b80230.jpeg)

[2018-03-01 17:05] DaleMcGrew commented on #9
I believe I have a fix for this.

[2018-03-01 17:05] #9 closed

[2018-03-02 00:42] SailingSteve commented on #17
Fixed in iOS build 7

[2018-03-02 19:03] SailingSteve opened #19 "Two headers are displayed on VoterGuide in WebApp, plus Styling fix needed for Cordova"
<img width="520" alt="screen shot 2018-03-02 at 11 02 28 am" src="https://user-images.githubusercontent.com/6923653/36916604-431c1a16-1e09-11e8-8556-3bf9318eb380.png">

[2018-03-02 19:03] SailingSteve commented on #19
Fix will be completely on WebApp side

[2018-03-02 19:41] DaleMcGrew commented on #12
Hi @SailingSteve, the recent change you made, which prevents the page from showing beneath the "Carrier + Battery" bar, is a great step. Could you please make it the same color as our header, instead of white?

[2018-03-02 19:53] DaleMcGrew opened #20 "Remove "We Vote (alpha)" from Cordova header"
I think we can remove "We Vote" from the Cordova header, so there is only a search bar across the top. This will also prevent App users from being able to get to the Welcome page, which was a hot-button for the Apple review team.

[2018-03-02 20:04] DaleMcGrew opened #21 "Configure full-screen slide out for hamburger menu"
I have been looking at many Apps, and one thing they seem to share in common is the hamburger menu / settings screen tends to take over the entire screen. I think we should do the same. I think that the component we use for our Profile menu may have a "full screen" option?

I think we should also move the hamburger icon to the far right of the bottom bar.

Facebook example:
![img_4602](https://use

[2018-03-02 20:11] DaleMcGrew opened #22 "Add a loading screen image"
I have attached a loading screen we can use (that can be resized as needed).

![we_vote_loading_screen2](https://user-images.githubusercontent.com/7756031/36919586-b38ca302-1e12-11e8-984f-2a9e501f3619.png)

[2018-03-02 21:59] SailingSteve commented on #12
The apple menu is black letters, so the result would be black on dark blue.

[2018-03-02 22:03] DaleMcGrew commented on #12
We would need to change the apple menu letters to white, like here:
![fullsizerender](https://user-images.githubusercontent.com/7756031/36924145-66d96c6a-1e22-11e8-9805-504c26740324.jpeg)

[2018-03-02 22:05] SailingSteve commented on #12
LOL:  Most of the last 10 apps I looked at had the hamburger in the upper left.
Also that Wells app might be swift/objective c, but I can look into changing the color.

[2018-03-02 22:08] SailingSteve commented on #12
I can do it, pretty easy
https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-statusbar/

[2018-03-02 22:09] DaleMcGrew commented on #12
You rock!

[2018-03-02 22:16] SailingSteve commented on #22
Sadly there are three loading screens:
One in native iOS, which is our blue, with "We Vote"
The second is in Cordova, which is currently white with a iOS style loading indicator
Then the third, which flashes by fast, which is the "Loading We Vote..." from src/sass/components/_loading-spinner.scss

[2018-03-02 22:18] DaleMcGrew commented on #22
The second one is the one I see for the longest. I'm hoping we can show something during that wait. Do we have the option to show an image during the Cordova load?

[2018-03-03 20:34] SailingSteve opened #23 "Candidate links take over the entire app screen with no back button"
Search for Kamala Harris, click to see her website

In the WebApp they open in a new tab.   Need to use cordovaOpenSafariView()

<img width="520" alt="screen shot 2018-03-03 at 12 33 00 pm" src="https://user-images.githubusercontent.com/6923653/36939026-31a1e230-1edf-11e8-93bd-31c4d4cd3b8f.png">

[2018-03-04 16:30] DaleMcGrew commented on #20
Verified!

[2018-03-04 16:30] #20 closed

[2018-03-04 16:37] DaleMcGrew opened #25 "Dragging down at top of Ballot, or up at bottom of Ballot"
When you are at the top of the ballot and you drag down, the header gets dragged down too. Instead, we want the header to remain stuck to the top of the screen, and the content below the header open up a little bit, and spring back when voter lets go (like how WebApp works in Safari browser.) The reverse is true when you are at the bottom of the Ballot and you drag up. (The footer should remain st

[2018-03-04 18:04] DaleMcGrew opened #26 "Footer navigation in Cordova covers bottom of ballot"
![fullsizerender-4](https://user-images.githubusercontent.com/7756031/36948691-79be9c3e-1f93-11e8-9ecf-cad8514fe564.jpg)

[2018-03-04 18:51] DaleMcGrew opened #27 "Only show "Getting Started" intro the first time app is opened"
The first time the We Vote app is opened (following download), it should show the "Getting Started" sequence (as it does now.) The next time the We Vote app is started, please direct voter to their ballot.

[2018-03-04 18:54] DaleMcGrew opened #28 "Create Dev variable so we can turn on Cordova navigation while running WebApp?"
Would it make sense (and not be too difficult) to set up a way to see the navigation configured for Cordova by changing a config.js setting in WebApp? This would allow our WebApp developers to more quickly make style changes without having to set up the Cordova development environment.

[2018-03-06 03:06] SailingSteve commented on #12
Well it would have been easy if it worked.
https://issues.apache.org/jira/browse/CB-13843
We can wait for this to get resolved, or try some native code debugging/fix.  (Or accept another color for that top bar.)

[2018-03-06 03:36] SailingSteve commented on #21
Still have some menu loop bugs to resolve, but the menu is done (but not checked in)

<img width="598" alt="screen shot 2018-03-05 at 7 34 32 pm" src="https://user-images.githubusercontent.com/6923653/37013012-7685adae-20ac-11e8-94c5-0ce904d276f0.png">

[2018-03-06 03:49] DaleMcGrew commented on #12
:) We can wait for a fix. Thank you for doing the research and testing @SailingSteve. I have bumped this Issue to Priority 3.

[2018-03-06 03:50] DaleMcGrew commented on #21
Very cool! I have been doing some parallel menu work that I will check in shortly.

[2018-03-06 18:11] SailingSteve commented on #21
@DaleMcGrew  Does your work replace this work?  Should I put this work aside?

[2018-03-06 18:12] DaleMcGrew commented on #21
@SailingSteve No it does not. I'm happy to discuss on the hangout, which I'm opening shortly.

[2018-03-06 23:13] SailingSteve commented on #25
platforms/ios/WeVoteCordova/config.xml
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce " value="false" />

[2018-03-08 17:13] SailingSteve commented on #21
@DaleMcGrew
This menu is based on react-slide-out that has a problem in our app, of sliding out too fast, maybe in a 1/10th of a second instead of a half.  I swapped react-slide-out for react-sliding-pane which had the same problem.

I looked at mango/slideout which claims Cordova compatibility.  This has a $18 per product license fee (I would have paid it in a second), but it hasn't had a core co

[2018-03-08 17:21] DaleMcGrew commented on #21
@SailingSteve, I support your decision! Would it be possible for you to test the package you are choosing on WebApp, to see if the slide-out timing works in the direct WebApp bundle (on the website)? BTW, I've been looking at optimizations, and I think some of the slow-down comes from the 52 (!) API calls we make for the ballot to load. I think we can cut this in 1/2, which will decrease the work

[2018-03-08 17:45] SailingSteve commented on #19
This has been fixed.

[2018-03-08 17:54] #19 closed

[2018-03-09 01:18] SailingSteve commented on #21
@DaleMcGrew  This is what it will look like with modal (Just a div on top of everything else)

<img width="598" alt="screen shot 2018-03-08 at 5 16 53 pm" src="https://user-images.githubusercontent.com/6923653/37185340-b400435c-22f4-11e8-90a1-abb5890b9456.png">

[2018-03-09 01:20] DaleMcGrew commented on #21
Looks great @SailingSteve!

[2018-03-09 02:51] SailingSteve commented on #21
react-tostify, that we use, relies on https://reactcommunity.org/react-transition-group/ that should do the job when we want to dig in again.

[2018-03-11 03:23] SailingSteve commented on #11
@DaleMcGrew
I can do this, but I think it will be confusing.  These links will only work from your phone, and will probably end up in the mailbox on your phone and on your desktop.

"You will receive a magic link in your email inbox. Click that link to be signed into your We Vote account."
**Should become**
"You will receive a magic link in your email inbox on your phone. Click that link to be sig

[2018-03-12 21:45] DaleMcGrew commented on #25
Fixed!

[2018-03-12 21:45] #25 closed

[2018-03-12 21:46] #17 closed

[2018-03-12 22:04] SailingSteve commented on #23
When you follow a website link, we need to handle it differently in cordova.

[2018-03-12 23:04] SailingSteve commented on #27
Fix done in next checkin.

[2018-03-12 23:05] SailingSteve opened #30 "Turn HeaderBarProfileSlideIn (HamburgerMenu) into a routeable page."

[2018-03-15 00:35] SailingSteve commented on #23
Also happens for all the links to outside sites on the About page -- clicking one of those links opens the page in the Cordova container, with no way to go back.   Super ugly.

[2018-03-15 22:34] DaleMcGrew commented on #30
Done!

[2018-03-15 22:34] #30 closed

[2018-03-15 22:34] DaleMcGrew commented on #21
Closing until we decide to open up the menu animations again.

[2018-03-15 22:34] #21 closed

[2018-03-15 22:36] DaleMcGrew commented on #27
Verified.

[2018-03-15 22:36] #27 closed

[2018-03-15 22:42] DaleMcGrew opened #31 "Footer goes away sometimes, and should always remain"
I believe we always want the footer navigation to show. Sometimes when I scroll long pages down (like the ballot), it goes away and it shouldn't. It does return a few seconds after stopping.

The only exception to this is when we go into "Theatre" mode, like:
https://wevote.us/wevoteintro/network

[2018-03-15 22:45] DaleMcGrew opened #32 "Search bar should fill full width of header bar-offset problem"
Currently the search box fills a little over 1/3rd of the header bar. Please make it fill the full width of the header bar.
![img_4633](https://user-images.githubusercontent.com/7756031/37494842-d284ed8c-2867-11e8-88a5-7e7425f10c99.jpeg)

[2018-03-16 18:25] SailingSteve commented on #23
solution was a change for all href links to external sites, now wrapped by <OpenExternalWebSite />

[2018-03-16 20:54] #23 closed

[2018-03-22 18:49] SailingSteve commented on #32
.search-cordova {
  width: 100%;
}

was 55%

[2018-03-22 22:42] SailingSteve commented on #12
Suddenly started working with the Cordova scaffolding reinstall today.

[2018-03-22 22:43] DaleMcGrew commented on #12
Hooray! :)

[2018-03-23 14:56] DaleMcGrew commented on #32
Thank you @SailingSteve! On Cordova there is now an offset problem, where the search results drop-down is shifted off screen to the left:
![img_4649](https://user-images.githubusercontent.com/7756031/37836391-8f325ea8-2e6f-11e8-8569-ac1f54e97950.jpeg)

[2018-03-23 14:58] DaleMcGrew commented on #28
Not necessary any more.

[2018-03-23 14:58] #28 closed

[2018-03-23 14:59] DaleMcGrew commented on #12
The fix looks great!

[2018-03-23 14:59] #12 closed

[2018-03-23 15:03] DaleMcGrew commented on #22
Thank you @SailingSteve, this is working well. For future reference, when we want to update this art, what art assets will we need to update? (i.e., what are the path and filenames in the repo?)

[2018-03-23 15:03] #22 closed

[2018-03-23 15:26] DaleMcGrew commented on #26
I believe I have a fix -- I am adding "margin-bottom" of $space-xl to the "BallotList" class which wraps the entire ballot.

[2018-03-23 16:04] SailingSteve commented on #22
@DaleMcGrew
In order to handle the 12" iPad Pro I took your image into Photoshop, resized it to 2732x2732, forced it to have no transparent pixels, and renamed it to the required(?) name `Default@2x~universal~anyany.png`.  Then (not being an Xcode expert), I dropped the image **within the Xcode program** into
`WeVoteCordova/Resources//Images.xcassets/LaunchImage` into each location in the universa

[2018-03-23 16:12] DaleMcGrew commented on #22
Thank you Steve! So it sounds like we should provide that one master art asset, and then follow your steps. What you wrote above would be awesome in the documentation. I really appreciate how on top of documentation you are.

[2018-03-23 16:21] SailingSteve commented on #22
I copied it into the documentation.  It will be there on the next PR.

[2018-03-23 18:38] SailingSteve opened #34 "BallotSideBar Navigation Menu broken for iPad Cordova"
Doesn't show up in iPhone screen sizes.

Clicking "Pennsylvania's 18th Congressional District" in the BallotSideBar ...

<img width="1320" alt="screen shot 2018-03-23 at 11 33 47 am" src="https://user-images.githubusercontent.com/6923653/37847563-70f49ffe-2e8e-11e8-867a-deda0b771022.png">

takes you to...

<img width="1320" alt="screen shot 2018-03-23 at 11 33 59 am" src="https://user-images.githu

[2018-03-23 18:48] #26 closed

[2018-03-24 01:20] SailingSteve opened #35 "Strange behavior when commenting on a proposition"
With test build 14:

The proposition number is displayed as garbled in the text  box,

<img width="621" alt="screen shot 2018-03-23 at 6 17 36 pm" src="https://user-images.githubusercontent.com/6923653/37858744-9ad6bb26-2ec6-11e8-9458-fda8e3e9c430.png">

Clicking in the text box, detaches the footer and leaves it mid-screen

<img width="621" alt="screen shot 2018-03-23 at 6 17 53 pm" src="https://

[2018-03-26 16:30] SailingSteve commented on #35
After yesterday's changes, this is much better on a physical phone, still looks strange on a simulator.

[2018-03-27 03:11] SailingSteve commented on #31
@DaleMcGrew This is the issue we discussed this morning.  I've spent 8 hours o this so far, with no luck.  With headroom.js deactivated if Cordova, if you fast scroll the ballot, both menus disappear while re-rendering.  This is ugly, andg ives away the usage of Cordova if you are an expert, but the app is still fully functional.

I think the solution will be putting the ballot into a div that is

[2018-03-27 15:01] #35 closed

[2018-03-27 20:40] DaleMcGrew commented on #32
Verified!

[2018-03-27 20:40] #32 closed

[2018-03-27 20:41] DaleMcGrew commented on #31
Moved to priority 3.

[2018-03-27 21:10] DaleMcGrew opened #36 "Using search bar, with keyboard open and start typing, unable to see search box"
In Cordova, once you start typing in the search box, your display changes so you are no longer able to see search box you are typing in:
![with-keyboard-open](https://user-images.githubusercontent.com/7756031/37995199-6daf081a-31c8-11e8-9801-a5f6a11b5170.jpeg)

Once you click "Done" for the mobile phone keyboard, you are once again able to see the search box:
![after-closing-keyboard](https://user

[2018-03-27 23:06] SailingSteve commented on #36
![img_ce8c5ae67676-1](https://user-images.githubusercontent.com/6923653/37999659-b63e2344-31d8-11e8-98d2-77f5b9c32736.jpeg)

[2018-03-27 23:16] SailingSteve opened #37 "Do not show browser copy and paste except in editable fields"
![image](https://user-images.githubusercontent.com/6923653/37999937-0bd8e9be-31da-11e8-8d8e-1ae0c376ed9a.png)

[2018-03-27 23:18] SailingSteve commented on #36
@DaleMcGrew could you tell me what model of phone you have, and what iOS OS version it is on?  This doesn't reproduce on my 7p, unless I am missing some key step.

[2018-03-27 23:21] SailingSteve commented on #31
We may need to do this sooner, rather than later, it would be a change to Application.js and its sass.

See   [Plunker Demo](https://plnkr.co/edit/RQJWkGWgGjhA6kbUBQur?p=preview)

[2018-03-27 23:25] DaleMcGrew commented on #36
IPhone 7, version 11.2.6.
If you can’t reproduce, I can test again on the next version you post.

[2018-03-28 19:37] SailingSteve commented on #36
I only saw this once, on the iPhone 4 simulator, and couldn't get it to reproduce, but I think I know what it was.

[2018-04-15 22:32] SailingSteve commented on #11
I have something put together today, that should have solved this, but Gmail on Android seems like it is  disabling custom scheme links.
https://productforums.google.com/forum/#!topic/gmail/K06xELRD2uo
There are lots of StackOverflow comments about this, it looks like Gmail purposefully broke this.

I could have it be a link back to the server, that would open a page with a http redirect, like I d

[2018-04-16 20:02] SailingSteve commented on #11
@DaleMcGrew
Is the purpose of magic link to recall the Twitter and Facebook authentication data from postgres and to act like you have authenticated with them?  So after signing in once with Twitter, you could delete your twitter account, and send a magic link, and we would still show you as signed into Twitter?  And if you have never signed in with Twitter or FB and you sent a magic link, you wou

[2018-04-24 00:28] SailingSteve opened #49 "Lower priority features that are disabled in Cordova"
- [ ] Re-enable Google analytics
- [ ] Figure out an alternative to "anchor href #" for the BallotSideBar -- one that works in Cordova
- [ ] "ReactPlayer" in About.jsx, worked for a while and now it doesn't.  Bet it is Content-Security-Policy related.  Works a bit in Android.
- [ ] Sideways scroll for a settings sub-menu in Cordova on the HamburgerMenu.
- [x] Re-enable "Polling Location" in Header

[2018-04-24 00:34] SailingSteve commented on #5
Moved to:
Lower priority features that are disabled in Cordova #49

[2018-04-24 00:34] #5 closed

[2018-05-09 17:09] DaleMcGrew commented on #36
This problem comes when an iPhone font size is set to Zoomed. Moving to Priority 3.

Settings > Display & Brightness > Display Zoom / View > Zoomed

[2018-05-09 17:10] DaleMcGrew commented on #31
Current implementation is fixed.

[2018-05-09 17:10] #31 closed

[2018-05-09 17:17] DaleMcGrew opened #52 "Updating your Street Address: Interface broken"
On iPhone 6 & 7
1. Go to "change address or election" modal
2. Click "Edit" next to your address
3. Click in the text edit box
4. You get a strange display:
![change-address-bug-ios](https://user-images.githubusercontent.com/7756031/39828944-af8b430a-5371-11e8-8e57-87c6b0364c35.jpeg)

[2018-05-11 22:48] SailingSteve commented on #52
Symptoms of the constraint issue, that we have been avoiding dealing with.
-------------------
[code]

[2018-05-14 22:00] SailingSteve opened #53 "Ballot decisions do not match on WebApp and iOS App"
Ballot decisions do not match on WebApp and iOS App

![simulator screen shot - iphone 6 - 2018-05-14 at 13 06 32](https://user-images.githubusercontent.com/6923653/40025699-61dba680-5787-11e8-8b46-8733a4d789fd.png)
<img width="389" alt="screen shot 2018-05-14 at 1 06 44 pm" src="https://user-images.githubusercontent.com/6923653/40025707-64fe4ad4-5787-11e8-98bb-f7945d1ab839.png">

[2018-05-14 22:01] #53 closed, assigned to nobody

[2018-05-16 00:03] DaleMcGrew opened #55 "How do we access Google Places API key from iOS and Android?"
Research how to configure Google Places API key for the Cordova app, given the API restrictions limit us based on referring website. Until we figure this out, we lose the "auto-complete" feature when a voter changes their address in the Settings area: https://wevote.us/settings/address
...we are using "google.maps.places.Autocomplete" to offer suggested addresses.

[2018-05-16 16:45] #52 closed, assigned to SailingSteve

[2018-05-23 22:23] SailingSteve commented on #55
I made a trivial index.html fix, and on the
[https://console.cloud.google.com/apis/credentials/key/74?project=wevoteus-geolocation&authuser=0&folder&organizationId=1032986910497](https://console.cloud.google.com/apis/credentials/key/74?project=wevoteus-geolocation&authuser=0&folder&organizationId=1032986910497)
 page I added ``` __file_url__//android_asset/www/index.html#/ballot``` as a configurat

[2018-05-23 22:23] SailingSteve commented on #55
"Google Maps JavaScript API error: RefererNotAllowedMapError " error from trying to use api from within React Cordova iOS, but works fine in Android

[https://stackoverflow.com/questions/50498308/google-maps-javascript-api-error-referernotallowedmaperror-error-from-trying](https://stackoverflow.com/questions/50498308/google-maps-javascript-api-error-referernotallowedmaperror-error-from-trying)

[2018-05-23 22:41] SailingSteve commented on #55
iOS (using chrome debug tools, after safari debug tools failed me my simplifying the http request so much I though there was no x-requested-with header):
Request URL:https://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?1sfile%3A%2F%2F%2Fandroid_asset%2Fwww%2Findex.html%23%2Fballot&4sAIzaSyCM0vM1mzh56OuA5IfgW_U6Qd9jD99WH6M&callback=_xdc_._5gfso5&token=52928
Request Method:GET

[2018-05-23 22:42] SailingSteve commented on #55
Android:
Request URL:https://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?1sfile%3A%2F%2F%2Fandroid_asset%2Fwww%2Findex.html%23%2Fballot&4sAIzaSyCM0vM1mzh56OuA5IfgW_U6Qd9jD99WH6M&callback=_xdc_._5gfso5&token=52928
Request Method:GET
Status Code:200
Remote Address:172.217.0.42:443
Referrer Policy:no-referrer-when-downgrade
alt-svc:hq=":443"; ma=2592000; quic=51303433; quic=513

[2018-05-23 22:54] SailingSteve commented on #55
So for iOS we could use the x-requested-with:org.wevote.cordova
but we would have to setup a parallel api account, since it appears that you can't configure for both
"HTTP Referrers" and "iOS Apps"

I think I'll wait a week to see if I get a response on my [StackOverflow](https://stackoverflow.com/questions/50498308/google-maps-javascript-api-error-referernotallowedmaperror-error-from-trying) ques

[2018-05-24 22:42] SailingSteve commented on #11
The email arrives, and is displayable on the phone, but in the Android Gmail app, the Sign In button doesn't do anything when you click it, but the other links like www.WeVote.US does work.  So it probably needs a python side fix.

[2018-05-25 15:50] SailingSteve commented on #11
From the email:
[code]

This looks good, it must be a gmail issue?

[2018-05-25 23:38] SailingSteve commented on #11
https://stackoverflow.com/questions/38778618/cant-get-gmail-for-android-to-open-a-custom-url-scheme-or-an-intent-url

His "Update1:" shows a work around, it could hit the api server to return the redirect to a custom scheme.

[2018-05-29 21:36] SailingSteve commented on #11
The following page when served from http://podell.com/sp.html and read on Chrome on the android simulator, did not open the app.  The same page in Safari on iOS, opened the app.

[code]

[2018-05-29 21:41] SailingSteve commented on #55
I think this was closed by accident.

[2018-06-08 23:07] SailingSteve commented on #11
https://developer.chrome.com/multidevice/android/intents
https://stackoverflow.com/questions/41524087/navigation-is-blocked-when-redirecting-from-chrome-custom-tab-to-android-app

[2018-06-08 23:48] SailingSteve commented on #11
06-08 16:25:44.769 5720-5720/com.android.chrome I/chromium: [INFO:CONSOLE(0)] "Navigation is unreachable: wevotetwitterscheme://sign_in_email/VcH1bwRJN1Za", source: http://podell.com/sp.html (0)
06-08 16:32:00.786 5720-5720/com.android.chrome I/chromium: [INFO:CONSOLE(0)] "Navigation is blocked: intent://sign_in_email/VcH1bwRJN1Za#Intent;package=org.wevote.cordova;scheme=wevotetwitterscheme;end;",

[2018-06-11 17:10] SailingSteve commented on #55
Google kbnows about it, but it is a low priority for a fix, they call it a documentaion error (that it should accept wildcards in mid path)[https://issuetracker.google.com/issues/80147896]( https://issuetracker.google.com/issues/80147896)

[2018-06-11 17:37] DaleMcGrew commented on #55
Thank you @sailingsteve! Is there a workaround, or does this prevent us from auto completing addresses in iOS and Android?  Please let me know if you need additional access to our Google API account.

[2018-06-12 00:28] SailingSteve commented on #55
@DaleMcGrew no, the auto-complete works perfectly in Android, there is a problem with iOS.
![screenshot_1528763235](https://user-images.githubusercontent.com/6923653/41263569-b5060c12-6d9c-11e8-9052-cfe2241899bc.png)

[2018-06-12 15:29] SailingSteve commented on #55
A copy in case adding a App config, destroys the referrer url config:

Application restrictions

None

HTTP referrers (web sites)

IP addresses (web servers, cron jobs, etc.)

Android apps

iOS apps
Accept requests from these HTTP referrers (web sites) (Optional)
Use *'s for wildcards. If you leave this blank, requests will be accepted from any referrer. Be sure to add referrers before using this

[2018-06-12 18:21] SailingSteve commented on #55
Using the unrestricted API key, this works correctly in iOS
<img width="526" alt="screen shot 2018-06-12 at 11 19 58 am" src="https://user-images.githubusercontent.com/6923653/41309093-90812534-6e32-11e8-8d9f-061fdeb730ed.png">

[2018-06-12 19:06] SailingSteve commented on #55
From the [Google API Key](https://console.developers.google.com/apis/credentials/key/74?project=wevoteus-geolocation&folder&organizationId=1032986910497) page:

https://wevote.us/*
http://localhost:3000/*
https://localhost:3000/*
https://api.wevoteusa.org/*
http://localhost:8000/*
http://localhost:8001/*
https://localhost:8000/*
https://localhost:8001/*
http://wevote.us/*
file_url//android_asset/w

[2018-06-12 19:07] SailingSteve commented on #55
With the config above, this works for Cordova on iOS and Android.

[2018-06-12 21:49] SailingSteve opened #64 "Need an offline ballot display mode, for polling locations with no cellular"
Would also be handy for WebApp in mobile browsers

[2018-06-14 03:11] SailingSteve opened #65 "Two unnecessary API calls hurt performance in WebApp, far worse in Cordova"
SupportActions.positionsCountForAllBallotItems() is called unnecessarily for the same election on the return from Candidate detail page at the cost of 6.2 seconds of wasteful server side processing and a multi second loss of fluidity in Cordova.
VoterGuideActions.voterGuidesToFollowRetrieveByBallotItem()  is called unnecessarily for the same voter guide on the entry to the candidate detail page at

[2018-06-14 16:47] #37 closed

[2018-06-17 21:06] #65 closed, assigned to SailingSteve

[2018-06-19 23:07] SailingSteve commented on #55
This is working now

[2018-06-22 00:05] SailingSteve commented on #49
Im going to pass on "Move spinner up on first screen in Android", I spent a couple of hours modifying Java code (plugins/cordova-plugin-splashscreen/src/android/SplashScreen.java) and got the spinner to move to the right edge (I think native android assumes the phone is normally in landscape).  We can come back to this if it is important.

[2018-06-22 03:02] SailingSteve commented on #49
I'm going to pass on "Print ballot, on the HeaderSecondaryNavBar" although it is possible with https://www.npmjs.com/package/cordova-plugin-printer, the plug in hasn't been maintained in 2 years, and we don't do printing in the webapp when responsive on a mobile device.

[2018-07-14 20:45] DaleMcGrew opened #70 "Number of notifications in footer bar: Should be red and positioned at top"
In the Cordova footer bar, when you have friend requests, a notification number appears:
![notification-cordova](https://user-images.githubusercontent.com/7756031/42728283-0d2e3ebc-876c-11e8-89ee-b2fdef464350.jpg)

Please make this match the position and color from the WebApp:
![notification-webapp](https://user-images.githubusercontent.com/7756031/42728285-11762714-876c-11e8-8e06-07cd67a1f53a.jpg

[2018-07-16 17:48] DaleMcGrew opened #72 "Add "#WeVote" or "Twitter: @WeVote" to end of our Apple App Store name"
When a voter comes to the Apple App store and searches for "wevote", before you click "Search", a link to a competing app comes up as part of instant search. If we can add "WeVote" (one word) to either our app name or our description, I'm hoping a link to our app will appear in instant search. We currently have "WeVote" in our search terms, but that is not enough to get us to show up as part of in

[2018-07-20 03:39] SailingSteve commented on #72
@DaleMcGrew
It looks like I can change the title.
How about.

"We Vote Voter Guide, WeVote!"

I could make another release with that styling change for the friends notification...

<img width="518" alt="screen shot 2018-07-19 at 8 36 09 pm" src="https://user-images.githubusercontent.com/6923653/42981881-6f881878-8b93-11e8-9edc-fbeb330e14bd.png">

[2018-07-20 03:49] DaleMcGrew commented on #72
I have done some more testing, and have confirmed that we do need to put it into our product name for it to show up in the instant search. I'd like this text:
We Vote Voter Guide, from @WeVote

Let's wait for a couple of weeks before we release another version, so we can weave in more changes. Thank you @SailingSteve.

[2018-07-24 01:45] SailingSteve opened #73 "Ballotpedia links in Cordova don't work"
Found on candidate detail pages

[2018-07-24 03:11] SailingSteve commented on #73
@DaleMcGrew Is it intentional that the "Read more on Ballotpedia" link only appears in WebApp responsive device mode (and cCordova) and not in full screen browser mode?

<img width="629" alt="screen shot 2018-07-23 at 6 58 27 pm" src="https://user-images.githubusercontent.com/6923653/43114413-d3a23fb4-8eb3-11e8-8267-d3c033981aff.png">
<img width="663" alt="screen shot 2018-07-23 at 6 57 52 pm" src

[2018-07-24 03:22] DaleMcGrew commented on #73
Good catch @SailingSteve, the "Read More on Ballotpedia" link should appear for Desktop too.

[2018-08-13 19:41] #73 closed, assigned to SailingSteve

[2018-08-13 20:06] SailingSteve commented on #72
Testflight of 1.0.4 build 1

[2018-08-13 22:42] SailingSteve commented on #72
@DaleMcGrew

"We Vote Voter Guide, from @WeV" is the maximum length string allowed.
"We Vote Voter Guide,  @wevote" works

[2018-08-13 22:56] DaleMcGrew commented on #72
Thank you @SailingSteve, "We Vote Voter Guide, @WeVote" (with upper case letter "w" and "v") looks fine.

[2018-09-14 12:18] DaleMcGrew commented on #70
Verified! Great work @SailingSteve. Thank you.

[2018-09-14 12:18] #70 closed, assigned to SailingSteve

[2018-09-14 12:18] DaleMcGrew commented on #72
Verified.

[2018-09-14 12:18] #72 closed, assigned to nobody

[2018-09-14 12:30] DaleMcGrew opened #76 "iPhone X Display Problem with Camera Cutout"
On the iPhone X, our modals (in the App from the app store) are opening all the way at the top of the screen, wrapped around the camera cut-out. The voter wasn't able to click the "X" to close the modal.

Second, the notification messages when you select issues were displaying all the way at the top, so the camera cut-out was in the way.

There were also problems with the navigation in the footer.

[2018-09-15 12:35] DaleMcGrew commented on #76
@SailingSteve would you be willing to take on this issue?

[2018-09-17 02:06] DaleMcGrew commented on #76
Here is the iPhone X screenshot:
![iphonex-screen](https://user-images.githubusercontent.com/7756031/45603876-85e6a480-b9e3-11e8-90b0-c8a4218ff738.png)

[2018-09-17 18:36] SailingSteve commented on #76
@DaleMcGrew Done with the code, and testing now.  I have code in place for the new iPhone xs max, but there is no simulator for it yet, so I'll have to retest later.

[2018-09-17 18:50] DaleMcGrew commented on #76
Thank you @SailingSteve! Were you able to test in XCode against an iPhone X simulator?

[2018-09-18 01:18] SailingSteve commented on #76
Tested on:  iPhone 7, 8, 8 plus, & X in simulators and on a iPhone 7 plus device.
Also tested Webapp full screen, and responsive in iPhone 6 size.
All looks pretty good -- there are some very minor layout issues that could use attention.
Not able to test on the newest  iPhone XS or iPhone XS Max, as there are no simulators yet.

[2018-09-20 20:34] SailingSteve opened #77 "Ballot scrolls incorrectly when "View all ..." is clicked. iPhone XS Max, and others."
![simulator screen shot - iphone xs max - 2018-09-20 at 13 32 04](https://user-images.githubusercontent.com/6923653/45845356-bf682a00-bcd9-11e8-98a1-ed8ce603c041.png)
![simulator screen shot - iphone xs max - 2018-09-20 at 13 32 16](https://user-images.githubusercontent.com/6923653/45845361-c1ca8400-bcd9-11e8-8afe-70cc91fd779c.png)

[2018-09-21 23:38] SailingSteve opened #78 "Layout problems on iPhone X, XS, XR and XS Max"
- [x] Toast message is obscured by the notch. (showToast.js)
- [x] X to close works on iPhone 8p, but not on the XS Max, Make your positions public
- [x] Back to button clipped on the top on XS Max
- [x] Similar layout issues with toast and Make your positions public, on XR
- [ ] Modal scrolls out of protected area iPhone XR
- [x] The google find address pulldown detaches and sticks to all screens

[2018-09-22 17:20] SailingSteve commented on #78
After fix with marginTop at 50px, checked in at 30 which looks better:
<img width="526" alt="screen shot 2018-09-26 at 2 07 52 pm" src="https://user-images.githubusercontent.com/6923653/46109585-e28d5080-c195-11e8-8b80-04b77166d186.png">

<img width="487" alt="screen shot 2018-09-21 at 4 36 17 pm" src="https://user-images.githubusercontent.com/6923653/45910274-ba2fdb80-bdbc-11e8-8365-b186291e774a.

[2018-09-22 17:27] SailingSteve commented on #78
X to close works on iPhone 8p, but not on the XS Max

<img width="402" alt="screen shot 2018-09-22 at 10 25 30 am" src="https://user-images.githubusercontent.com/6923653/45919915-fc572c80-be51-11e8-9d73-0713b4bbfa5a.png">
<img width="526" alt="screen shot 2018-09-22 at 10 25 45 am" src="https://user-images.githubusercontent.com/6923653/45919918-00834a00-be52-11e8-823a-93367af9aa59.png">

[2018-09-25 20:28] SailingSteve opened #81 "New 4 button filter for the ballot, broke cordova"
<img width="526" alt="screen shot 2018-09-25 at 1 24 17 pm" src="https://user-images.githubusercontent.com/6923653/46041056-cc648f00-c0c6-11e8-8e60-a288c9da5019.png">

[2018-09-26 19:52] SailingSteve commented on #78
<img width="526" alt="screen shot 2018-09-26 at 12 46 50 pm" src="https://user-images.githubusercontent.com/6923653/46105251-70633e80-c18a-11e8-888f-c8bfe10bcee1.png">

[2018-09-26 19:56] SailingSteve commented on #81
Maybe fixed with the full update of NPM packages, that I haven't check in yet.

[2018-09-26 19:58] SailingSteve commented on #76
Working, but maybe we will want a more elegant solution someday.

[2018-09-26 19:58] #76 closed, assigned to SailingSteve

[2018-09-26 22:51] SailingSteve commented on #78
<img width="526" alt="screen shot 2018-09-26 at 3 27 37 pm" src="https://user-images.githubusercontent.com/6923653/46113613-f8a20d80-c1a3-11e8-923c-16e15d61eb53.png">

[2018-09-26 23:50] SailingSteve commented on #78
<img width="394" alt="screen shot 2018-09-26 at 4 49 15 pm" src="https://user-images.githubusercontent.com/6923653/46115527-3dca3d80-c1ac-11e8-8a93-2c5287d42b5e.png">
<img width="394" alt="screen shot 2018-09-26 at 4 48 53 pm" src="https://user-images.githubusercontent.com/6923653/46115533-402c9780-c1ac-11e8-8006-9f27eb17f79c.png">

[2018-09-27 17:22] SailingSteve opened #82 "Slick-Slider layout problems on iPhone XR & XS Max, Send this ballot to yourself"
I've spent 4 hours on this, and it is inconsistent, styling changes don't seem to effect it.

<img width="526" alt="screen shot 2018-09-26 at 12 46 50 pm" src="https://user-images.githubusercontent.com/6923653/46105251-70633e80-c18a-11e8-888f-c8bfe10bcee1.png">

[2018-09-27 18:38] SailingSteve commented on #82
**There is also weird behavior on the desktop** if you scroll back to the first pand by dragging the surface of the pane... the slider disappears, and there is no gap between the panes.  Clicking the dots at the bottom works fine.

I confirmed this on the live wevote.us instance (before I introduced all these npm package updates for this issue).

[2018-10-15 16:27] DaleMcGrew opened #83 "Update vip.html file to remove reference to button graphic that is gone"
Hi @SailingSteve could you please remove this file from the vip.html file?

2018/10/15 15:00:40 [error] 22262#22262: *130903 open() "/websites/wevote.us/html/img/global/logos/we-vote-button-235x235.png" failed (2: No such file or directory), client: 172.31.32.146, server: wevote.us, request: "GET /img/global/logos/we-vote-button-235x235.png HTTP/1.1", host: "wevote.us", referrer: "https://s3-us-we

[2018-11-05 20:51] SailingSteve opened #89 "App crash in ios simulator when keyboard appears for AddressBox if ENABLE_FACEBOOK is true"
The crash is in the stack trace with last bit in our app in `FacebookConnectPlugin`

2018-11-05 12:42:44.254004-0800 WeVoteCordova[15006:5604446] STEVE ddddsdddd weakSelf.keyboardIsVisible = YES
2018-11-05 12:42:44.263568-0800 WeVoteCordova[15006:5604446] -[NSTaggedPointerString countByEnumeratingWithState:objects:count:]: unrecognized selector sent to instance 0xad40cce38ff927af
2018-11-05 12:42:

[2018-11-05 23:07] SailingSteve commented on #89
I found the problem in FacebookActions.getFacebookPicture() by debugging into iOS,
the api needs to receive an array of strings, and was throwing an uncaught exception.
For some reason it is called when you click into the AddressBox.

[2018-11-06 17:46] DaleMcGrew commented on #11
Hi @SailingSteve I believe this is related to the Twitter sign in issue that is being reported.
![screen shot 2018-11-06 at 9 45 57 am](https://user-images.githubusercontent.com/7756031/48082982-d63edf00-e1a8-11e8-9774-d57e1e7b9727.png)

[2018-11-06 19:18] DaleMcGrew commented on #11
- User: I wanted to share my votes, but this sign in link isn't working? "Please sign in to We Vote so you can save your ballot and invite your friends. If the button does not work, please copy and paste this link into a browser: wevotetwitterscheme://sign_in_email/4FMP<TRUNCATED>"
- Dale: Unfortunately our Twitter sign in from the app is currently broken. :( The sign in by email link works. Once

[2018-11-07 16:05] SailingSteve commented on #81
Full NPM update, and associated fixes. did resolve this.

[2018-11-07 16:05] #81 closed, assigned to SailingSteve

[2018-11-07 19:16] DaleMcGrew commented on #83
Dale to test once new build is posted. Nov 7, 2018

[2018-11-07 19:22] DaleMcGrew commented on #77
Closing this because we are going to take the voter to a page dedicated to the office as opposed to unfurling.

[2018-11-07 19:22] #77 closed, assigned to SailingSteve

[2018-11-07 19:24] DaleMcGrew commented on #64
Archive for later

[2018-11-07 19:24] #64 closed, assigned to nobody

[2018-11-07 19:26] DaleMcGrew commented on #49
Closing

[2018-11-07 19:26] #49 closed, assigned to nobody

[2018-11-07 19:27] DaleMcGrew commented on #36
Closed because search bar is turned off.

[2018-11-07 20:17] #83 closed, assigned to SailingSteve

[2018-11-07 20:17] #89 closed, assigned to SailingSteve

[2018-11-07 21:38] SailingSteve opened #90 "New ugly message from facebook/apple on iOS -- need to avoid it"
https://stackoverflow.com/questions/50448989/requirement-to-change-app-name-in-google-sign-in-alert

<img width="584" alt="screen shot 2018-11-07 at 1 35 00 pm" src="https://user-images.githubusercontent.com/6923653/48162531-352c5300-e292-11e8-880b-453758621534.png">

[2018-11-08 16:20] DaleMcGrew commented on #90
Are we able to change our Bundle name to "We Vote"? "WeVote" would be ok, but less ideal. @SailingSteve, am I correct that this issue is about changing that Bundle name, as opposed to trying to avoid the alert?

[2018-11-08 22:17] DaleMcGrew opened #91 "Header styles: Upon sign out, Sign In page scrolled above header"
When you sign out, you are returned to the Sign In page. The page is scrolled though with some text that is hidden under the "Back to Settings" header.

Please test all header changes in the browser-based WebApp as well.

![img_5683](https://user-images.githubusercontent.com/7756031/48230749-eef1f500-e360-11e8-8a09-ca99c0a28817.jpeg)

I suspect that the settings page being rendered under the "Back

[2018-11-08 22:18] DaleMcGrew opened #92 "Header styles: After Twitter sign in, notification box partially hidden under header"
After Twitter sign in, notification box partially hidden under header.

Please test all header changes in the browser-based WebApp as well.

![img_5685](https://user-images.githubusercontent.com/7756031/48230837-37111780-e361-11e8-853f-5ac3c598f477.jpeg)

[2018-11-08 22:21] DaleMcGrew opened #93 "Header Styles: Mobile settings page "Our Promise" text at top of screen"
When you visit the mobile settings page, the "Our Promise" text at top of screen has a darker gray background. (If it isn't gray, click on it, and it then has a gray background.)
![fullsizerender-1](https://user-images.githubusercontent.com/7756031/48230960-86efde80-e361-11e8-9afd-2ead547a7e8d.jpeg)

[2018-11-08 22:26] DaleMcGrew opened #94 "Header Styles: Toast message should not render to very top of screen"
Whenever the Toast message is displayed in mobile, it is rendered to the very top of the screen. It should not be displayed over the top bar (which shows battery life).

Please test all header changes in the browser-based WebApp as well.

![fullsizerender](https://user-images.githubusercontent.com/7756031/48231201-30cf6b00-e362-11e8-9979-5aff16c5710c.jpeg)

[2018-11-08 22:29] DaleMcGrew opened #95 "Header Styles: Following Facebook sign in, page displays under header"
Following Facebook sign in, page displays under header.

Please test all header changes in the browser-based WebApp as well.

![img_5689](https://user-images.githubusercontent.com/7756031/48231363-ab988600-e362-11e8-852f-85772220e751.jpeg)

[2018-11-08 22:50] DaleMcGrew opened #96 "Push Notifications Entitlement Needed"
Dear Developer,    We identified one or more issues with a recent delivery   for your app, "We Vote 2018 Ballot,  @WeVote".                  Your delivery was successful, but you may wish to correct the following issues in your next delivery:                        	Missing Push Notification Entitlement -  Your app appears to  register with the Apple Push Notification service, but the app  signatu

[2018-11-12 21:17] SailingSteve commented on #96
Push notifications have always been disabled, so the message is wrong.  If it ever became necessary to debug into the apple stack, we could...

<img width="1175" alt="screen shot 2018-11-12 at 1 15 35 pm" src="https://user-images.githubusercontent.com/6923653/48375519-1573a100-e67d-11e8-813b-07c22f10a758.png">

[2018-12-09 19:40] SailingSteve commented on #95
![img_f577118ee056-1](https://user-images.githubusercontent.com/6923653/49701922-42956f80-fba7-11e8-9127-4e7555afca9a.jpeg)

[2018-12-09 19:41] SailingSteve commented on #95
Looks good now

[2018-12-10 16:41] SailingSteve commented on #91
No longer reproduces

[2018-12-10 16:43] SailingSteve commented on #90
I made a change (like one from months ago) so that the dialog does not appear anymore.  This problem no longer reproduces.

[2018-12-10 16:43] #90 closed, assigned to SailingSteve

[2018-12-11 23:51] #93 closed, assigned to SailingSteve

[2018-12-12 00:04] #92 closed, assigned to SailingSteve

[2018-12-12 16:59] crisz commented on #55
How is this supposed to be a restriction? I could use a stolen API key in any app without any problem

[2018-12-12 18:30] DaleMcGrew commented on #55
Thank you @crisz for raising this question. When we run use the Google API key from our website, we can restrict the key to only be used from our domain. How can we have a similar restriction in our iOS and Android apps?

[2018-12-15 19:10] crisz commented on #55
Too bad looks like `__file_url__` and wildcards (`*`) don't work if used together, except if the wildcard is in the last position.

This is a big problem, since ios generates a HEX code for each installed application, and that code is included in the referrer like:

`var/containers/Bundle/Application/<HEX code>/MyApp.app/www/index.html#/app`

But, as mentioned above, a wildcard in that position wo

[2019-02-10 06:39] luigi37 commented on #55
As per today (10 Feb 2019) the following http referrers allows to show a Google map in a cordova app:

iOS:

`__file_url__//var/containers/Bundle/Application/*`

Android:
[code]

cordova simulate (eg: simulate ios --target=chrome)
[code]

NOTE: SailingSteve answer is correct but it took me a while to understand the "Styling Markdown" has changed the double underscore into bold text... I hope it he

[2019-06-15 13:43] DaleMcGrew commented on #95
Fixed.

[2019-06-15 13:43] #95 closed, assigned to nobody

[2019-06-15 13:44] DaleMcGrew commented on #94
Fixed.

[2019-06-15 13:44] #94 closed, assigned to SailingSteve

[2019-06-15 13:46] DaleMcGrew commented on #78
Fixed.

[2019-06-15 13:46] #78 closed, assigned to SailingSteve

[2019-06-15 13:46] DaleMcGrew commented on #82
Fixed.

[2019-06-15 13:46] #82 closed, assigned to nobody

[2019-06-15 13:47] #11 closed

[2019-06-15 13:47] #96 closed, assigned to nobody

[2019-06-15 13:48] #34 closed

[2019-06-15 13:50] #91 closed, assigned to SailingSteve

[2019-09-25 16:30] piotr-cz commented on #55
For iOS 13.1 it's probably `__file_url__//private/var/containers/Bundle/Application/*`

[2019-09-25 17:33] SailingSteve commented on #55
Ooops, fixed the styling markdown on my earlier comment.  Thanks.

[2020-01-29 20:13] SailingSteve opened #121 "Should be responsive to the keyboard Go key in iOS"
![image](https://user-images.githubusercontent.com/6923653/73393520-a8075c80-4290-11ea-9c72-2f4ef4b81e44.png)

[2020-07-26 15:26] DaleMcGrew opened #137 "Returning to app: Landing page should be /ready"
When you return to the app signed in, the default page should be /ready (as opposed to /ballot)

[2020-07-27 14:49] DaleMcGrew commented on #137
@SailingSteve I found where this is happening, and am fixing it along with some other path discrepencies in /src/js/RootSingleBundle.jsx

[2020-07-28 03:09] SailingSteve opened #140 "Need to stop using UIWebView in Cordova iOS before December 2020"
Cordova iOS 6 does not use UIWebView.
In the meantime there is a cordova plugin add cordova-plugin-wkwebview-engine that eliminates  UIWebView, but has trouble loading files for local resources the way react does, for that you need another plugin cordova-plugin-wkwebview-file-xhr

I was not able to get these working in an hour or so.
Cordova iOS 6 has been released, but it is still in its early da

[2020-07-28 03:09] SailingSteve commented on #140
Subject: | App  Store Connect: Your app "We Vote Ballot Guide,  @WeVote" (Apple ID:  1347335726 Version: 1.2.8 Build: 1.2.8.7) has one or more issues
-- | --
Sat, 25 Jul 2020 22:41:19 +0000 (GMT)
App Store Connect <no_reply@email.apple.com>
noreply@apple.com
steve@podell.com, apple@wevote.us, dalemcgrew@yahoo.com

Dear Developer,    We identified one or more issues with a recent delivery   for you

[2020-07-29 19:00] DaleMcGrew commented on #55
I can now set up an iOS specific and another Android Specific Google API key that is tied to the App's bundle. @SailingSteve I will send you the updated keys. They can be injected in this file for each specific bundle: src/index.html

Search for:
https://maps.googleapis.com/maps/api/js?key=

[2020-08-26 13:16] DaleMcGrew commented on #137
Verified.

[2020-08-26 13:16] #137 closed, assigned to DaleMcGrew

[2020-08-26 13:27] DaleMcGrew opened #147 "Ready Page > Find Candidates: Form blocked by Keyboard"
On a live iPhone 8.
NOTE: Problem didn't happen on Browserstack Galaxy Note 10 -- the form field scrolled to be vertically centered in the visible space.
1. Go to Ready page
2. Click in the "Search" form field of "Find Candidates & Opinions" (it usually doesn't matter where on screen this form field is, but sometimes on the live iPhone 8 if the "Search" form field is very high on the screen, it do

[2020-08-26 13:46] DaleMcGrew opened #148 ""Following" and "Followers" takes you to "Page not found""
"Following" and "Followers" takes you to "Page not found"
This problem exists on organizations with and without followers. (The count number doesn't matter.)
1. Search for "sierraclub"
2. Click on Colorado Sierra Club
3. Click on either "0 Following" or "0 Followers"

The code that navigates you is in src/js/routes/VoterGuide/OrganizationVoterGuide.jsx on lines 398:
[code]
and 277 ('goToVoterGuide

[2020-08-26 23:07] #140 closed, assigned to SailingSteve

[2020-08-26 23:07] #147 closed, assigned to SailingSteve

[2020-08-26 23:07] #148 closed, assigned to SailingSteve

[2020-08-28 18:45] DaleMcGrew opened #149 "Share modal obscures Sign in modal"
Share modal obscures Sign in modal
1. On Cordova device when you are NOT signed in, go to the Ballot page
2. Click the share button at bottom of screen
3. Click "Ballot"
4. Click "Include your opinions"
The Sign in modal appears behind the Share modal. In the WebApp browser, the SignInModal opens on top.

Please search for "u-z-index" and "z-index" to see examples of how we use z-index other place

[2020-08-28 21:27] SailingSteve opened #150 "Week of Sept 1, 2020 work toward a new pt release"
- [ ] Sometimes return from sign in with Facebook, leaves the screen zoomed in , and you can't get to the menu without rotating the device, or exiting the app.  iPhone 11 Pro Max.

Less Important:

- [x] Top header resizes a bit on each major page from the bottom menu. (Not on ipad)

Last:

- [ ]  npm run prod-singleBundle   produces a 5.76MB bundle.js, and npm run start-https-singleBundle 29.6MB,

[2020-09-12 21:50] SailingSteve commented on #150
Completed:
- [x] The splash screen takes too long to dismiss in iOS
- [x]  Figure out sending emails in cordova
- [x]  Bouncing menus are back in iPad
- [x]  Resolve Android signing problem, and do a release
- [x] Very malformed popup if you are on the Discuss page and you click a proposition.  See image below.  Occurs in mobile Web too, so I created a WebApp issue.
- [x] "Create Post" line grew i

[2020-09-12 21:56] SailingSteve commented on #150
<img width="584" alt="Screen Shot 2020-09-12 at 2 54 44 PM" src="https://user-images.githubusercontent.com/6923653/93005674-13442d00-f508-11ea-912a-1d8d6fdb47b3.png">

[2020-09-13 17:24] SailingSteve commented on #150
<img width="559" alt="Screen Shot 2020-09-13 at 10 22 54 AM" src="https://user-images.githubusercontent.com/6923653/93024430-53a8b700-f5ab-11ea-8f77-3677782ce61b.png">

[2020-10-02 01:56] SailingSteve opened #154 "Apple Silicon ARM64 Development"
Apple Silicon running on the DTK is in decent share for the "traditional" header offsets -- The Apple Silicon app running on the "Big Sur" desktop looks just like our app on an iPad, but with out the top line that shows cell signal strength, battery, and date and time.  As a result almost every header offset was different.  There is a new function `isAppleSilicon()` that is used to distinguish fro

[2020-10-02 02:04] SailingSteve commented on #154
**TODO:**

- [ ] Signing in with Twitter/Facebook opens a tab in the Safari desktop browser instead of in the the App window.  If you still try to login in the Safari tab, you end up with a "ibsystem_kernel.dylib`mach_msg_trap: Thread 1: signal SIGCONT" unix (MaxOS) process crash that kills the app.
- [ ] Share to Twitter or Facebook do not work because they require a signing.  Sure to email works

[2020-10-02 23:08] SailingSteve commented on #154
![Screen Shot 2020-10-02 at 4 07 36 PM](https://user-images.githubusercontent.com/6923653/94976331-7a328180-04c9-11eb-9b74-8a3d8caa28b3.png)

[2020-10-09 17:37] DaleMcGrew opened #155 "Requesting App Rating popup in iOS/Android Apps"
If a voter has had the app open for more than 4 minutes, and has never been asked to submit a review, ask the voter to submit a review:
![Simulator-Screen-Shot-iPhone-8-2018-10-27-at-16 39 08-281x500](https://user-images.githubusercontent.com/7756031/95614428-574d2380-0a1b-11eb-9788-56c52f83dd29.png)

https://www.raywenderlich.com/9009-requesting-app-ratings-and-reviews-tutorial-for-ios

[2020-11-27 22:44] SailingSteve commented on #154
Done and released.

[2020-11-27 22:44] #154 closed, assigned to SailingSteve

[2020-11-27 22:44] SailingSteve commented on #150
done and released

[2020-11-27 22:44] #150 closed, assigned to SailingSteve

[2022-07-07 20:36] SailingSteve opened #164 "Need the ability to remove account from iOS app, for submissions after June 30, 2022"
May 27, 2022 at 3:21 PM
Details
ITEM
TYPE
iOS 2.2.1
App Review Message
Messages (1)

App Review2022-05-27 3:21 PM
Upcoming Requirement Reminder

Note: This is a support message regarding upcoming requirements that may be relevant for your app.

Starting June 30, 2022, apps submitted to the App Store that support account creation must also include an option to initiate account deletion.

We noticed